.container_main {
    flex-direction: column;
    position: relative;
}

.row_1, .row_2, .row_3, .row_4 {
    padding: 100px;
    position: absolute;
    top: 50px;
}
.row_1 {
    border: 2px solid red;
    top: 650px;
    left: 13px;
}
.row_2 {
    border: 2px solid red;
    left: 650px
}
.row_4 {
    left: 650px;
    top: 650px;
}

.item {
    width: 100px;
    height: 100px;
    background-color: brown;
    border: 2px solid black;
}
.item_1:nth-child(even) {
    background-color: rgb(168, 168, 95)
}
.item_1:nth-child(odd) {
    background-color: rgb(121, 121, 69)
}
.item_2:nth-child(even) {
    background-color: rgb(168, 142, 95)
}
.item_2:nth-child(odd) {
    background-color: rgb(83, 83, 46)
}
.item_3:nth-child(even) {
    background-color: rgb(95, 127, 168)
}
.item_3:nth-child(odd) {
    background-color: rgb(46, 69, 83)
}
.item_3:nth-child(even) {
    background-color: rgb(95, 127, 168)
}
.item_3:nth-child(odd) {
    background-color: rgb(46, 69, 83)
}