.down_pad {
  height: 700px;
}

._left_ {
  display: none
}
._right_ {
  display: none
}
body {
  background-color: #ffffff;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: rgb(190, 35, 35);
}


.white-nav {
  display: none;
}
.btn {
  width: auto;
  height: 34px;
  padding: 10px 10px 10px 12px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  color: #fff;
  background-color: #f72210;
  border-radius: 0;
  border: 0;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.btn:hover {
  color: rgb(235, 225, 225);
  text-decoration: none;
}
nav {
  max-width: 1310px;
  margin: auto;
  background-color: white;
}
article {
  display: block;
  border: 2px solid black;
  

}
h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Condensed",sans-serif;
  margin-bottom: 10px;
  position: relative;
  color: black;
}
/* WIDE RED NAVBAR*/
header {
  position: relative;
  height: 50px;
  background-color: #f72210;
  z-index: 9999;
  width: 100%;
}

header .date {
  display: none;
}

header .logo {
  height: 20px;
}

header .logo a svg {
  fill: #fff;
  height: 100%;
}

header .header-right a.lk-3 {
  color: #f72210;
  background-color: #fff;
  width: 127px;
  height: 25px;
  margin-top: 2px;
}
header .header-right {
  right: 25px;
}

header .navbar-toggler {
  display: inline;
  position: absolute;
  right: 13px;
  top: 13px;
  height: 28px;
  width: 28px;
  padding: 0;
  fill: #FB9A94;
}

header .navbar-toggler .cross {
  display: none;
}

/* WIDE RED NAVBAR*/

.sign-sub {
  
  position: relative;
  top: 0vh;
  left: 14.5vh;

  
}

.menu_bar {
  margin-right: 10px;
}
.lk-2 span{
  
  position: relative;
  font: bold 17px/17px "Roboto Condensed",sans-serif;
  text-transform: uppercase;
  display: inline-block;
  font-weight: 6000;
  padding: 6px 3px;
  margin-top: -4px;
  
}
.lk-3 span{
  
  position: relative;
  left: -7px;
  font: 17px/17px "Roboto Condensed",sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0px;
  display: inline-block;
  padding: 6px 3px;
  text-shadow: 0.0vh 0.0vh 0.1vh #f72210;
}
.lk-3 svg {
  height: 2vh;
  fill: #f72210;
  margin-left: 4px;
}



.principal {
  display: none;
}

.subs {
  display: flex;
  width: 100%;
  align-content: space-between
}
.redbar1 {
  display: flex;
  overflow: hidden;
  height: 50px;
  width: 100%;
  background-color: #f72210;
  z-index: 100;
  position: fixed;
  top:0;
  left:0;
  
  

}
.logo1 {
  height: 20px;
  margin-top: 0px;
  
  
}

.logo1 a svg {
  fill: #fff;
  height: 100%; }

.sign-sub1 {
  flex-direction: row-reverse;
  top: 5px;
  right: 38px;
}

.lk-31 span{

  position: relative;
  
  font: 18px/18px "Roboto Condensed",sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0px;
  display: inline-block;
  padding: 6px 3px;
  text-shadow: 0.0vh 0.0vh 0.1vh #f72210;
}
.lk-31 svg {
  height: 2vh;
  fill: #f72210;
  
}
a.lk-31 {
  color: #f72210;
  background-color: #fff;
  width: 127px;
  height: 25px;
  margin-top: 2px;
}
.lk-21 span{

  position: relative;
  font: bold 17px/17px "Roboto Condensed",sans-serif;
  text-transform: uppercase;
  display: inline-block;
  font-weight: 600;
  padding: 6px 3px;
  margin-top: -4px;
  
}

.menu_bar1 {
  display: block;
  position: absolute;
  right: 33px;
  top: 3px;
  height: 50px;
  width: 40px;
  padding: 0;
  z-index: 205;

}
.menu_bar1 i {
  margin-top: 5px;
  padding-left: 2vh;
  margin-right: 2vh;
  font-size: 2.5rem;
  color: rgba(255, 255, 255,.5)
}
.card {
  border: 0px;
}
.card-body {
  padding-left:0px;
  padding-right: 0px;
}
.cards img {
  width: 100%;
  height: 100%;
}
.cards {
  position: absolute;
  top: 45px;
  padding-right: 40px;
  /*rgb(255, 245, 247)*/
  
}

.wrap {
  position: relative;
}
.category {
  font: bold 17px/17px "Roboto Condensed",sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #f72210;
  padding: 8px 15px 9px;
  background-color: rgba(255,255,255,.8);
  z-index: 1;
}

.card-body h3 {
  font-family: bold "Roboto Condensed",sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 800;
  color: 000000;
}
.center_cards div {
  padding-bottom: 15px;
}
.title {
  margin-top: 15px;
}
.card-body h3 {
  font-family: bold "Roboto Condensed",sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 800;
  color: 000000;
}
.row_center, .first_row  {
  position: relative;
  
}
.row_center {
  min-width: 395px;;
}

.title_culture {
  padding-top: 10px;
  padding-bottom: 9px;
  margin-left: 0px;
  background: #F4F5F7;
}
.title_culture span{
  padding-left: 10px;
}
.center_cards {
  display: block;
}
.center_cards h3{
  font: 20px/22px "Lora",serif;
  margin-bottom: 10px;
  -webkit-font-smoothing: antialiased;
}
.center_cards p {
  font: 15px/20px "Helvetica Neue","Helvetica",Arial,sans-serif;
  font-weight: 500;
  color: rgba(39,39,39,.5);
  margin-bottom: 10px;
}

.zone a {
  /*
  position: absolute;
  width:auto;
  padding:5px;
  background:rgb(194,212,215);
  bottom: 15px;*/
  display: inline-block;
  background-color: #c2d4d7;
  padding-left: 6px;
  padding-right: 6px;
  margin-right: 6px;
  text-decoration: none;
  color: inherit;
}
.zone span{
  color: #272727;
  font: 300 13px/20px "Helvetica Neue","Helvetica",Arial,sans-serif;
}
.center_cards {
  display: block;

}
.first_row {
  min-width: 330px;;
}
.row_center .cards{
  padding-right: 40px;
}
.row_center {
  min-width: 390px;;
}
article h3{
  font: normal 17px/17px "Roboto Condensed",sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 650;
}
.title span {
  padding-top: 1vh;
  font: bold 16px/16px "Roboto Condensed",sans-serif;
  text-transform: uppercase;
  color: rgba(3,3,3,.4);
}

.culture_and_travel {
  display: inline-block;
  background-color: rgb(244,245,247);
  /*rgb(244,245,247)*/
  max-height: 855px;
  
}
.title_culture {
  padding-bottom: 15px;
}
.center_cards {
  column-count: 2;
}
.center_cards img {
  width:100%;
  height: 100%;
}

.c_card {
  background-color: rgb(244,245,247);
}



.opinion {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  position: relative;
  right: -3px;
  min-width: 370px;;
}
.opinion .title {
  position: relative;
}
.opinion .title span{
  position: absolute;
  right:50vh;
  top: -1.5vh;
  
}
.opinion ul {
  max-width: 360px;
  padding-top: 6px;
  
  
}
.opinion li {
  border-bottom: 2px solid #d4d4d4 !important;
  max-width: 340px;;
}

.opinion li a {
  position: relative;
  width: 75px;
  height: 60px;;
  
}

.opinion li a img{
  position: absolute;
  
}
.media-body p {
  font: bold 21px/21px "Roboto Condensed",sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  font-size: .9rem;
  color: rgb(85,85,85);
  margin-top: 6px;
}
.media-body {
  padding-bottom: 13px;
  padding-top: 13px;
}
.media-body span{
  font: bold 17px/21px "Roboto Condensed",sans-serif;
}

@media only screen and (min-width: 768px) and (max-width: 991px){
  .row_zero {
    display: none !important;
  }
  .cover {
    min-width: 992px;
    max-width: 768px;
    display: grid;
    grid-template-columns: 7fr 10fr;
  }
  .center_cards {
    column-count: 2;
  }
  
  .cover .row {
    padding-left: 25px;
    padding-right: 30px;
    margin-top: 50px;
  }
  
  .title span {
    
    font: bold 16px/16px "Roboto Condensed",sans-serif;
    text-transform: uppercase;
    color: rgb(131, 130, 130);
  }
  .cover_center_bottom {
    display: block;
  }
  
}




@media (min-width: 992px) {
  .principal {
    display: flex;
  }
  .row_zero {
    display: none !important;
  }
  header {
    height: 97px;
  }
  
  ._left_ {
    display: block;
    position: absolute;
    width: 300px;
    height: 50px;
    left:0px;
    top:0px;
    background: rgb(244,245,246); 
    z-index: 300;
  } /*#F4F5F6*/
  ._right_ {
    display: block;
    position: absolute;
    width: 300px;
    height: 50px;
    right:0px;
    top:0px;
    background: rgb(244,245,246); 
    z-index: 301;
  }
  .white-nav {
    display: block;
    position: -webkit-relative;
    position: relative;
    background-color: white;
    border-bottom: 2px solid #edf0f0;
  }
  
  .white-nav .angle {
    position: absolute;
    top: 0;
    right: 0;
    height: 13px;
    width: 78px;
    background-color: #f72210;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
  }
  
  .angle {
    position: absolute;
    top: 0;
    right: 0;
    height: 13px;
    width: 78px;
    background-color: #f72210;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
  }
  
  .white-nav form {
    position: absolute;
    top: 13px;
    width: 100%;
  }

  .white-nav form input {
    position: absolute;
    right: 85px;
    padding: 0;
    border: none;
    width: 70px;
    background-color: white;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 2px 0;
  }
  .white-nav ul {
    width: 100%;
    padding: 0;
    padding-right: 160px;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(10, auto);
  }
  
  .white-nav ul :nth-child(1) {
    border: none;
  }

  .white-nav ul li {
    font: bold 17px/17px "Roboto Condensed",sans-serif;
    font-size: 19px;
    font-weight: 650;
    line-height: 24px;
    margin-bottom: 15px;
    margin-top:  15px;
    
    border-left: 1px solid #d9d9d9;
  }
  /* LINKS ARE NOT SHOWING UP */
  
  .white-nav ul li a {
    color: black;
    padding: 0;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .white-nav ul li a:hover {
    text-decoration: none;
    color: #F72210;
  }
  .white-nav form label img {
    position: absolute;
    right: 79px;
    top: -2px;
    width: 20px;
    height: 20px;
  }
  

  header .date {
    display: block;
    font-weight: normal;
    line-height: 34px;
    padding-top: 55px;
    color: white;
    font: normal 17px/17px "Roboto Condensed",sans-serif;
    margin-bottom: 14px;
    font-weight: 300;
  }

  header .logo {
   
    height: 60px;
    margin-top: 0px;
    margin-left: 90px;
    
  }

  button {
    display: none !important;
  }
  
  .sign-sub {
    margin-right: -30px;
  }
  .cover {
    min-width: 992px;
    max-width: 1310px;
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    
  }
  .cover .row {
    padding-left: 25px;
    padding-right: 30px;
    padding-top: 16px;
  }
  
  .cards {
    position: absolute;
    top: 60px;
    padding-right: 40px;
  }
  
  

}