.down_pad {
  height: 700px;;
}
@font-face {
  font-family: 'Roboto condensed';
  src: url("../fonts/robotocondensed-regular-webfont.woff2") format("woff2"), url("../fonts/robotocondensed-regular-webfont.woff2") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: 'Roboto condensed';
  src: url("../fonts/robotocondensed-bold-webfont.woff2") format("woff2"), url("../fonts/robotocondensed-bold-webfont.woff2") format("woff");
  font-weight: bold;
}

body {
  background-color: #f4f5f6;
}

.btn {
  width: auto;
  height: 34px;
  padding: 10px 10px 10px 12px;
  text-transform: uppercase;
  line-height: 14px;
  font-weight: 700;
  color: #fff;
  background-color: #f72210;
  border-radius: 0;
  border: 0;
  font-size: 18px;
  
  border: 2px solid blue;
}

.btn:hover {
  color: rgb(228, 220, 220);
  text-decoration: none;
}

.btn svg {
  width: 10px;
  height: 14px;
  fill: #fff;
  margin-left: 10px;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: black;
}

a:hover {
  color: black;
  text-decoration: underline;
  -webkit-text-decoration-skip: edges;
  text-decoration-skip: edges;
  -webkit-text-decoration-color: #f72210;
  text-decoration-color: #f72210;
}

header,
nav,
.main-footer {
  max-width: 1310px;
  margin: auto;
  background-color: white;
}

header {
  position: relative;
  height: 50px;
  background-color: #f72210;
  z-index: 9999;
}

header .logo {
  height: 20px;
  margin-top: 15px;
  
}

header .logo a {
  display: block;
  position: relative;
}

header .logo a svg {
  position: absolute;
  top: 0;
  fill: #fff;
  height: 100%;
}
