main {
  padding-top: 20px;
  padding-bottom: 40px;
  display: block;
}

main article,
main .sponsor {
  padding-bottom: 20px;
}

main article h1 a,
main article h2 a,
main article h3 a,
main article h4 a,
main article h5 a,
main .sponsor h1 a,
main .sponsor h2 a,
main .sponsor h3 a,
main .sponsor h4 a,
main .sponsor h5 a {
  font-weight: bold;
}

main article h3,
main .sponsor h3 {
  font-size: 24px;
}

@media (max-width: 768px) {

  main article h3,
  main .sponsor h3 {
    font-size: 20px;
  }
}

main article .h2,
main .sponsor .h2 {
  font-size: 22px;
  line-height: 24px;
}

main article .summary,
main .sponsor .summary {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  font-weight: 100;
}

@media (max-width: 768px) {

  main article .summary,
  main .sponsor .summary {
    font-size: 13px;
  }
}

main article.clearfix,
main .sponsor.clearfix {
  padding: 14px 0;
  border-top: 1px solid #dddddd;
}

main article.clearfix .image,
main .sponsor.clearfix .image {
  width: 135px;
  float: left;
  margin-right: 15px;
}

@media (max-width: 768px) {

  main article.clearfix .image,
  main .sponsor.clearfix .image {
    width: 258px;
  }
}

@media (max-width: 481px) {

  main article.clearfix .image,
  main .sponsor.clearfix .image {
    width: 135px;
  }
}

main article.clearfix h4,
main .sponsor.clearfix h4 {
  font-size: 17px;
  line-height: 18px;
  margin-bottom: 10px;
}

main .btn-main {
  height: 38px;
}

@media (min-width: 992px) {
  main.container-fluid>.row {
    margin: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 71% 29%;
    grid-template-columns: 71% 29%;
  }
}

main .block-title {
  color: rgba(3, 3, 3, 0.4);
  padding-bottom: 11px;
  text-transform: uppercase;
  line-height: 1em;
}

main .block-title a {
  color: rgba(3, 3, 3, 0.4);
}

main .block-title ahover {
  text-decoration: none;
}

main .subfeature2 {
  margin-bottom: 30px;
}

main .wrap {
  margin-bottom: 10px;
  position: relative;
}

main .wrap .category {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 8px 15px;
  background-color: rgba(255, 255, 255, 0.9);
}

main .wrap .category a {
  color: #f72210;
  font-size: 17px;
  text-transform: uppercase;
}

main .wrap .category a:hover {
  text-decoration: none;
}

main .image a {
  display: block;
  width: 100%;
}

main .image a picture {
  display: block;
  width: 100%;
  height: auto;
}

main .image a picture img {
  width: 100%;
  height: auto;
}

main .sponsor {
  max-width: 330px;
  margin: auto;
  padding-bottom: 30px;
}

@media (max-width: 768px) {
  main .sponsor {
    max-width: 100%;
  }
}

main .sponsor .wrap {
  margin: 0;
}

main .sponsor .shuffle {
  margin: 0;
}

main .sponsor .shuffle span {
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 66.75%;
}

main .sponsor .category {
  color: #3581f4;
}

main .sponsor .info {
  padding: 20px;
  border: 1px solid #e6e6e6;
}

main .related {
  border-top: 1px solid #d9d9d9;
}

main .related li {
  padding: 10px 0;
  border-bottom: 1px solid #d9d9d9;
}

main .related a:hover {
  text-decoration: none;
  color: #f72210;
}

main #sticky2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  height: 100%;
}

main #sticky2 #block-nw-home-featured-more {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

main #sticky2 #block-nw-home-featured-more .content {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

main #sticky3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  height: 100%;
}

main #sticky3 #block-nw-opinion ul :nth-child(1) {
  padding-top: 0;
  border-top: none;
}

main #sticky3 #block-nw-opinion ul li {
  border-top: 1px solid #dddddd;
  padding: 10px 0;
}

main #sticky3 #block-nw-opinion ul li .image {
  margin-right: 16px;
}

main #sticky3 #block-nw-opinion ul li .info {
  font-size: 17px;
  line-height: 21px;
}

main #sticky3 #block-nw-opinion ul li .info a:hover {
  text-decoration: none;
  color: #f72210;
}

main #sticky3 #block-nw-opinion ul li .byline {
  color: #555;
  margin-top: 4px;
  font-size: 14px;
  text-transform: uppercase;
}

main #sticky3 .latest-news :nth-child(1) {
  border: none;
}

main #sticky3 .latest-news li {
  padding: 14px 0;
  border-top: 1px solid #dddddd;
}

main #sticky3 .latest-news li picture {
  width: 135px;
  float: left;
  margin-right: 15px;
}

@media (max-width: 768px) {
  main #sticky3 .latest-news li picture {
    width: 258px;
  }
}

@media (max-width: 481px) {
  main #sticky3 .latest-news li picture {
    width: 135px;
  }
}

main #sticky3 .latest-news li .info {
  font-size: 17px;
  line-height: 18px;
  margin-bottom: 10px;
}

main #sticky3 .newsletter-signup {
  max-width: 300px;
  margin: 0 auto 30px;
  padding: 20px;
  background-color: #f4f5f6;
  border: 1px solid #e5e5e5;
}

main #sticky3 .newsletter-signup .n-title {
  font-size: 19px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

main #sticky3 .newsletter-signup .signup {
  margin-bottom: 10px;
  width: 100px;
  background-color: #666;
}

main #sticky3 .newsletter-signup .signup:hover {
  background-color: #999;
}

main #sticky3 .newsletter-signup .lk-5 {
  font-size: 15px;
  line-height: 15px;
}

main #block-sticky {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

main #block-sticky .content {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

main .icon-n {
  display: block;
  width: 29px;
  height: 28px;
  background: url(https://g.newsweek.com/www/images/logo-n1.svg) center/contain no-repeat #f72210;
  margin-right: 10px;
}

main .lk:after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 14px;
  margin-left: 10px;
  background-color: white;
  -webkit-mask: url(https://g.newsweek.com/www/images/icon-arrow-right.svg) center/contain no-repeat;
  mask: url(https://g.newsweek.com/www/images/icon-arrow-right.svg) ;
}

main .signup {
  padding: 10px;
  line-height: 18px;
  width: 100px;
}

main .subscribe {
  width: 124px;
}

@media (min-width: 768px) {
  main .page-bottom {
    margin: 0 15px;
  }
}

main .page-bottom .content {
  margin-bottom: 20px;
}

main .page-bottom .n-title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 12px;
  font-size: 19px;
  margin-bottom: 15px;
  text-transform: uppercase;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

main .page-bottom .magazine .d-flex {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

main .page-bottom .magazine .d-flex .wrap {
  margin: 0;
}

main .page-bottom .magazine .d-flex a :after {
  fill: black;
}

main .page-bottom .magazine .d-flex .lk {
  color: black;
  background-color: #f4f5f6;
}

main .page-bottom .magazine .d-flex .lk:hover {
  background-color: #dbdcdd;
}

main .page-bottom .magazine .d-flex .lk:after {
  background-color: black;
}

main .page-bottom .magazine article .image {
  width: 100%;
}

main .page-bottom .magazine article .image a {
  display: block;
  width: 100%;
}

@media (min-width: 768px) {
  main .page-bottom .magazine article .image a picture {
    display: block;
    position: relative;
    padding-bottom: 100%;
    overflow: hidden;
  }

  main .page-bottom .magazine article .image a picture img {
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    position: absolute;
    top: 0;
    left: 50%;
    width: auto;
    height: 100%;
    max-width: inherit;
  }
}

main .page-bottom .magazine article .bigshots {
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 7px;
  background-color: #f72210;
  color: white;
  margin-right: 7px;
}

main .page-bottom .magazine article .category {
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
}

main .page-bottom .magazine article .category .mag-cat {
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 7px;
  background-color: #f72210;
  color: white;
  margin-right: 7px;
}

main .page-bottom .magazine article .category a {
  color: #f72210;
}

main .page-bottom .magazine article .category a:hover {
  text-decoration: none;
}

main .page-bottom .magazine .bottom {
  padding-top: 30px;
}

main .page-bottom .picture-galleries article {
  padding-bottom: 40px;
}

main .page-bottom .picture-galleries .image {
  margin-bottom: 20px;
  position: relative;
}

main .page-bottom .picture-galleries .image .count-link {
  width: 70px;
  height: 52px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: bold;
  font-size: 20px;
  line-height: 58px;
  text-indent: 5px;
  text-align: center;
  background: url(https://g.newsweek.com/themes/newsweek/images/icon-slideshows-nw.png) 0 0/contain no-repeat;
  color: #e9212e;
}

main .page-bottom .picture-galleries .image .count-link:hover {
  text-decoration: none;
}

main .page-bottom .picture-galleries h4 {
  font-size: 22px;
}

@media (max-width: 768px) {
  main .page-bottom .picture-galleries h4 {
    font-size: 18px;
  }
}

main .subscribe-block {
  position: relative;
  padding: 40px 15px 0 15px;
}

@media (max-width: 768px) {
  main .subscribe-block {
    padding: 40px 0 0 0;
  }
}

main .subscribe-block:before {
  content: "";
  display: block;
  background-color: #f4f5f6;
  height: 2px;
  position: absolute;
  top: 0;
  left: -14px;
  right: -14px;
}

main .subscribe-block .block-title {
  color: #f72210;
}

main .subscribe-block .fd-c {
  margin-bottom: 40px;
}

main .subscribe-block .fd-c h3 {
  font-size: 24px;
  font-weight: bold;
}

main .subscribe-block .fd-c p {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}

main .subscribe-block .fd-c .ai-c {
  background-color: #f4f5f6;
  padding: 30px;
}

main .subscribe-block .fd-c .ai-c .image {
  position: relative;
  padding-bottom: 13px;
  padding-right: 90px;
  margin-bottom: 15px;
}

main .subscribe-block .fd-c .ai-c .image .current {
  position: absolute;
  top: 13px;
  left: 80px;
}

main .subscribe-block .fd-c.fd-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

main .subscribe-block .fd-c.fd-2 .image {
  max-width: 191px;
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  main .subscribe-block .fd-c.fd-2 .image {
    height: 160px;
    max-width: 100%;
  }
}

main .subscribe-block .fd-c.fd-2 .info {
  border: 1px solid #ebebeb;
  padding: 20px;
}

footer {
  margin: 0 30px;
  color: #666;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  padding: 30px;
  font-size: 14px;
  border-top: 2px solid #f4f5f6;
}

@media (max-width: 992px) {
  footer {
    margin: 0 15px;
    padding: 30px 15px;
  }
}

footer a {
  color: #666;
}

footer a:hover {
  text-decoration: none;
  color: black;
}

footer .footer-top .brand svg,
footer .footer-top p,
footer .footer-top ul {
  margin-bottom: 12px;
}

footer .footer-top .brand svg {
  margin-right: 15px;
  width: 236px;
  fill: #f72210;
}

footer .footer-top p {
  font-size: 12px;
  line-height: 12px;
}

footer .footer-top ul {
  padding: 0;
}

footer .footer-top ul li {
  margin-right: 10px;
}

footer .footer-top ul li svg {
  height: 26px;
  fill: #555;
}

footer .footer-links {
  padding-top: 6px;
}

footer .footer-links label {
  margin-right: 15px;
  margin-top: 2px;
}

footer .footer-links .menu {
  padding: 0;
  margin: 0;
}

footer .footer-links .menu :nth-last-child(1) {
  border-right: none;
}

footer .footer-links .menu li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-height: 15px;
  padding-right: 10px;
  margin: 6px 10px 6px 0;
}

@media (min-width: 768px) {
  footer .footer-links .menu li {
    border-right: 1px solid #d6d6d6;
  }
}

/*# sourceMappingURL=main.css.map */