.portada {
    
    height: 920px; 
    border: 2px solid red;
    
}

.background-a1 {
    background-color: rgba(137, 78, 192, 0.8);
    position: absolute;
    top: 0%;
    left: 379px;
    height: 381px;
    width: 550px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    z-index: 1;
}
.background-b1 {
    background-color: rgba(159, 94, 221, 0.8);
    position: absolute;
    top: 0%;
    right: 405px;
    height: 381px;
    width: 569px;;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    z-index: 1;
}
  .carpet {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    top: 479px;
    left: 302px;
    height: 5rem;
    width: 5rem;
    background-color: #6B7CA0;
    -webkit-clip-path: polygon(0 100%, 100% 0, 100% 100%, 0% 100%);
    
  }

  

  .carpet-1 {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    top: 479px;
    left: 382px;
    height: 5rem;
    width:1200px;
    background-color: #6B7CA0;
    -webkit-clip-path: polygon(0 0%, 95% 0, 100% 100%, 0% 100%);
    z-index: 0;
  }
  
  .center {
       
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    top: 95px;
    left: 903px;
    height: 50px;
    width:50px;
    background-color: rgba(189, 175, 145, 0.7);
    -webkit-clip-path:circle(40%);
    z-index: 9999;
  }
.foot {
    height: 500px;
}
.soil_left {
    background-color: rgba(206, 238, 28, 0.76);
    position: absolute;
    top: 119px;
    left: 380px;
    height: 440px;
    width: 550px;;
    clip-path: polygon(100% 0, 100% 0%, 19% 100%, 0% 100%);
}
.soil_left-1 {
  background-color: rgba(238, 234, 28, 0.76);
  position: absolute;
  top: 119px;
  left: 484px;
  height: 440px;
  width: 446px;
  clip-path: polygon(100% 0, 100% 0%,22% 100%, 0% 100%);
  
}
.soil_left-2 {
  background-color: rgba(238, 206, 28, 0.76);
  position: absolute;
  top: 119px;
  left: 582px;
  height: 440px;
  width: 348px;
  clip-path: polygon(100% 0, 100% 0%,28.5% 100%, 0% 100%);
}
.soil_left-3 {
  background-color: rgba(238, 182, 28, 0.76);
  position: absolute;
  top: 119px;
  left: 680px;
  height: 440px;
  width: 250px;
  clip-path: polygon(100% 0, 100% 0%,41% 100%, 0% 100%);
}
.soil_left-4 {
  background-color: rgba(238, 171, 28, 0.76);
  position: absolute;
  top: 119px;
  left: 781px;
  height: 440px;
  width: 148px;
  clip-path: polygon(100% 0, 100% 0%,68% 100%, 0% 100%);
}
.soil_center {
  background-color: rgba(238, 154, 28, 0.76);
  position: absolute;
  top: 119px;
  left: 881px;
  height: 440px;
  width: 50px;
  clip-path: polygon( 96% 0, 100% 100%, 0% 100%);
}
.soil_center_right {
  background-color: rgba(235, 152, 29, 0.76);
  position: absolute;
  top: 119px;
  left: 930px;
  height: 440px;
  width: 53px;
  clip-path: polygon(100% 0, 100% 100%, 0% 100%);
  transform: scaleX(-1);
}
.soil_right {
  background-color: rgba(206, 238, 28, 0.76);
  position: absolute;
  top: 120px;
  left: 930px;
  height: 445px;
  width: 560px;
  clip-path: polygon(100% 0, 100% 0%, 17.5% 100%, 0% 100%);
  transform: scaleX(-1);
}
.soil_right-1 {
  background-color: rgba(238, 234, 28, 0.76);
  position: absolute;
  top: 110px;
  left: 918px;
  height: 449px;
  width: 468px;
  clip-path: polygon(100% 0, 100% 0%,22% 100%, 0% 100%);
  transform: scaleX(-1);
}
.soil_right-2 {
  background-color: rgba(238, 206, 28, 0.76);
  position: absolute;
  top: 119px;
  left: 930px;
  height: 440px;
  width: 353px;
  clip-path: polygon(100% 0, 100% 0%,28.5% 100%, 0% 100%);
  transform: scaleX(-1);
}
.soil_right-3 {
  background-color: rgba(238, 182, 28, 0.76);
  position: absolute;
  top: 119px;
  left: 930px;
  height: 440px;
  width: 254px;
  clip-path: polygon(100% 0, 100% 0%,40% 100%, 0% 100%);
  transform: scaleX(-1);
}
.soil_right-4 {
  background-color: rgba(238, 171, 28, 0.76);
  position: absolute;
  top: 119px;
  left: 929px;
  height: 440px;
  width: 154px;
  clip-path: polygon(100% 0, 100% 0%,65% 100%, 0% 100%);
  transform: scaleX(-1);
}




.mesure_one {
  display: flex;
  position: absolute;
  top: 559px;
  left: 383px;
  height: 5rem;
  width:1138px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  z-index: 9999;
}

.square_2 {
  height: 100px;
  width: 100px;
  border-right: 1px solid black;
  background-color: rgba(199, 180, 180,0.4)
}
.square_3 {
  height: 100px;
  width: 100px;
  border-right: 1px solid black;
  background-color: rgba(156, 86, 86, 0.4)
}


.mesures_second {
  position: absolute;
  top: 559px;
  left: 383px;
  height: 5rem;
  width:1138px;
  background-color: #ac8048;
  
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  z-index: 9997;
}
.decimal {
  display: inline-block;
  width: 6px;
  height: 100px;
  margin-right: 0px;
  background-color: rgb(149, 208, 231)
}



.square {
  min-height: 100px;
  min-width: 100px;
  background-color: #060f02;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  z-index: 9999;
}
.square_1 {
  
  min-height: 100px;
  min-width: 100px;
  background-color: #7787e2;
  border-right:1px solid black;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  z-index: 9999;
}