body {
    background-color: rgb(238, 231, 245)
}
.container {
    top: 15%;
    left: 10%;
    border: 2px solid red;
}
.row {
    display: flex;
    
}
.first_row {
    background-color: rgba(196, 167, 167, .5);
    flex-direction: column;
    min-width: 240px;;
    min-height: 250px;
}
.center_row {
    background-color: rgba(152, 152, 175, .5);
    flex-direction: column;
    min-width: 240px;;
}
.last_row {
    background-color: rgba(189, 189, 162,.5);
    flex-direction: column;
    min-width: 240px;;
}
.first_row div, .center_row div, .last_row div{
    border: 1px solid black;
}