body {
    background-color: blueviolet
}
.container-fluid {
    background-color: aqua
}
.f_row, .c_row, .l_row {
    position: relative;
}
 span {
    font: bold 32px/32px "Roboto Condensed",sans-serif;
    text-transform: uppercase;
    color: rgba(56, 56, 46, 0.8);
    position: absolute;
    left: 25%;
    top: 25%;
}
.general_container {
    background-color: red;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
.first_row {
    background-color: rgb(16, 58, 150);
    max-width: 150px;
    display: flex;
    flex-direction: column;
}
.center_row {
    background-color: coral;
    max-width: 150px;
    display: flex;
    flex-direction: column;
}
.last_row {
    background-color: darkcyan;
    max-width: 150px;
    display: grid;
    
}
.f_row div, .c_row div, .l_row div {
    width: 100px;
    height: 100px;
    box-sizing: border-box; 
    border: 1px solid black;
    background-color: rgb(52, 221, 29);
    position: relative;
}
.f_row div:nth-child(even) {
    background-color: burlywood
}
.f_row div:nth-child(odd) {
    background-color: rgb(110, 75, 30)
}
.c_row div:nth-child(even) {
    background-color: rgb(88, 168, 202)
}
.c_row div:nth-child(odd) {
    background-color: rgb(88, 177, 88)
}
.l_row div:nth-child(even) {
    background-color: rgb(145, 78, 165)
}
.l_row div:nth-child(odd) {
    background-color: rgb(31, 145, 153)
}
