body {
    margin: 0;
    padding: 0px;
    background-color: black;
     }
section {
        width: 100%;
        height: 100vh;
        height: 100%;
    }
section .layer_two {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: url(back.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    
    
}

section .layer_one {
    position: absolute;
    background: url(back.jpg);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 450px;
    background-position: center;
    
    z-index: 1;
    
}
.layer_one:hover {
    box-shadow: 0 25px 60px rgba(0,0,0,.9);
    transition: 2s;
}
