body {background-color: #ffffff}
.principal {display: none}
.white-nav {display: none}
.btn:hover {color: #fff}

.btn {
    width: auto;
    height: 34px;
    padding: 10px 10px 10px 12px;
    text-transform: uppercase;
    line-height: 14px;
    font-weight: 700;
    color: #fff;
    border-radius: 0;
    border: 0;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.logo1 {
  position: relative;
  top:0px; 
  height: 20px;
  margin-top: 0px;
}
.logo1 a svg {
  fill: #fff;
  height: 100%;
}